body {
	background-color:lightpink;
	margin:0;
	border:20px black solid; 
	padding:20px;
}

h1{
	color:deeppink;
	}
	
	h2{
	color:purple;
	}
	
.footer{background-color:black;
		color:white; 
		border:20px black solid;
		padding:20px;}
			