body {
	background-color:lightpink;
	margin:20px;
	border:20px black solid; 
	padding:20px;
}

h1{
	color:deeppink;
	text-align: center
	}

p {
    text-indent: 50px;
	}
	
h2{
	color:purple;
	text-align: center
	}

div{text-align: center
	
}
	
.footer{background-color:black;
		color:white; 
		border:20px black solid;
		padding:20px;}
			